// $placeholder-opacity-max: 0.03;
// $placeholder-opacity-min: 1;
@import "node_modules/bootstrap/scss/bootstrap.scss";

.blur {
  filter: blur(1.1rem);
  @extend .placeholder-wave;
}

.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  @extend .blur;
}

.fav-heart {
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 100;
  mix-blend-mode: difference;
  background: transparent;
  display: inline;
  padding: 0;
  margin: 0;
  border: none;
}
